<article class="listing">
    <div class="name">
      <span>nombre: </span>{{cliente.nameClient}}
    </div>
    <div class="lastname">
      <span>Apellido: </span>{{cliente.lastname}}
    </div>
    <div class="idClient">
      <span>Documento: </span>{{cliente.idClient}}
    </div>
    <div class="email">
      <span>Correo: </span>{{cliente.email}}
    </div>
    <div class="phone">
      <span>Telefono: </span>{{cliente.phone}}
    </div>
  </article>
{{yield}}
