<h4><strong>Crear Domicilio</strong></h4>


<!--<form id ="form-create" class="form-horizontal">
<div class="errors-container" id="errors"></div>
<fieldset>
<div class="form-group {{if changeset.error.address 'has-error'}}" id=address>
<label for="" class="col-sm-4 control-label" >Direccion</label>
<div class="col-sm-4 controls">
{{input  placeholder="Ingrese La direccion del restaurtante" class="form-control" value=changeset.address}}
{{#if changeset.error.address}}
<span class="help-block">{{changeset.error.address.validation}}</span>
{{/if}}
</div>
</div>-->

<div id="root" align="center">
  <form id="form-create" class="form-horizontal">
    <div class="errors-container" id="errors"></div>
    <div class="form-group {{if changeset.error.adress 'has-error'}}">
      <p>Direccion domicilio</p>
      {{input placeholder="Ingrese su direccion" value=changeset.adress}}
      {{#if changeset.error.adress}}
      <span class="help-block">{{changeset.error.adress.validation}}</span>
      {{/if}}
    </div>

     <div class="form-group {{if changeset.error.phone 'has-error'}}">
      <p>Numero telefónico</p>
      {{input placeholder="Ingrese su telefono" value=changeset.phone}}
      {{#if changeset.error.phone}}
      <span class="help-block">{{changeset.error.phone.validation}}</span>
      {{/if}}
    </div>

    <div class="form-group {{if changeset.error.user_restaurant 'has-error'}}">
      <p>Usuario del restaurante</p>
      {{input placeholder="Usuario del restaurante" value=changeset.user_restaurant}}
      {{#if changeset.error.user_restaurant}}
      <span class="help-block">{{changeset.error.user_restaurant.validation}}</span>
      {{/if}}
    </div>
   
     <div class="form-group ">
      <p>Menu</p>
      {{#each menu as | m}}
      	<p>m.name_dish</p>
      {{/each}}
    </div>
    <button class=" btn btn-primary btn-lg" {{action 'save'}}>Registrar</button>
    <button class=" btn btn-primary btn-lg" {{action 'rollback'}}>Cancelar</button>
  </form>
</div>
