<article class="listing">
    <div class="id">
      <span>Codigo: </span>{{restaurant.id_restaurant}}
    </div>
    <div class="name">
      <span>Nombre: </span>{{restaurant.name_restaurant}}
    </div>
    <div class="description">
      <span>Descripcion: </span>{{restaurant.description}}
    </div>
    <div class="email">
      <span>Correo: </span>{{restaurant.email}}
    </div>
    <div class="admin">
      <span>admin: </span>{{restaurant.admin}}
    </div>
  </article>
{{yield}}
